{% extends "MPCatalogBundle::adminbase.html.twig" %}

{% block breadcrumb %}
    {% include "MPCatalogBundle::breadcrumb.html.twig" with { "items": {
        "ProductOwner List": path("admin_productowner"),
        "Edit": ""
    }} %}
{% endblock %}

{% block content %}

{{ parent() }}

<div class="page-header">
  <h1>{% trans %}Edit{% endtrans %}</h1>
</div>

<form action="{{ path('admin_productowner_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-primary">{% trans %}Edit{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('admin_productowner') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_productowner_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}