<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="{{ path('admin_home') }}">{% trans %}The Market Place{% endtrans %}</a>
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {% trans %}Catalog{% endtrans %}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('admin_category') }}">{% trans %}Category{% endtrans %}</a></li>
            <li><a href="{{ path('admin_product') }}">{% trans %}Products{% endtrans %}</a></li>
            <li><a href="{{ path('admin_downloadableproduct') }}">{% trans %}Downloadable Products{% endtrans %}</a></li>
            <li><a href="{{ path('admin_productowner') }}">{% trans %}Product Owner{% endtrans %}</a></li>
            <li><a href="{{ path('admin_brand') }}">{% trans %}Brand{% endtrans %}</a></li>
        </ul>
      </li>
      {% block menu_items %}{% endblock %}
    </ul>
    <form class="navbar-search pull-right">
      <input class="span2 search-query" type="text" placeholder="{% trans %}Search...{% endtrans %}" data-provide="typeahead">
    </form>
  </div>
</div>