{% extends "MPCatalogBundle::adminbase.html.twig" %}

{% block breadcrumb %}
    {% include "MPCatalogBundle::breadcrumb.html.twig" with { "items": {
        "Product List": ""
    }} %}
{% endblock %}

{% block content %}

{{ parent() }}

<div class="page-header">
    <h1>{% trans %}Product List{% endtrans %}</h1>
</div>

<p>
    {{ pagerfanta(pager, 'twitter_bootstrap') }}
</p>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_product_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>

<table class="table table-bordered table-striped table-condensed records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Wholesaleprice</th>
            <th>Price</th>
            <th>Description</th>
            <th>Ean</th>
            <th>Reference</th>
            <th>Isenabled</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th colspan="3">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pager.currentPageResults %}
        <tr>
            <td><a href="{{ path('admin_product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.wholeSalePrice }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.ean }}</td>
            <td>{{ entity.reference }}</td>
            <td>{{ entity.isEnabled }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
                    <a class="btn btn-block" href="{{ path('admin_product_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                </td>
        <td>
                    <a class="btn btn-block btn-primary" href="{{ path('admin_product_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                </td>
        <td>
                    {% render 'MPCatalogBundle:Product:deleteForm' with { 'id': entity.id } %}
                </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_product_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
