{% extends "MPCatalogBundle::adminbase.html.twig" %}

{% block breadcrumb %}
    {% include "MPCatalogBundle::breadcrumb.html.twig" with { "items": {
        "Feature List": ""
    }} %}
{% endblock %}

{% block content %}

{{ parent() }}

<div class="page-header">
    <h1>{% trans %}Feature List{% endtrans %}</h1>
</div>

<p>
    {{ pagerfanta(pager, 'twitter_bootstrap') }}
</p>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_feature_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>

<table class="table table-bordered table-striped table-condensed records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>key</th>
            <th>value</th>
            <th colspan="3">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pager.currentPageResults %}
        <tr>
            <td><a href="{{ path('admin_feature_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.key }}</td>
            <td>{{ entity.value }}</td>
        <td>
                    <a class="btn btn-block" href="{{ path('admin_feature_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                </td>
        <td>
                    <a class="btn btn-block btn-primary" href="{{ path('admin_feature_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                </td>
        <td>
                    {% render 'MPCatalogBundle:Feature:deleteForm' with { 'id': entity.id } %}
                </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_feature_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
